{% extends 'private/base.html' %}
{% block content %}
{% load django_bootstrap5 %} 

<!-- Main content header -->
<div class="row align-items-center mb-2">
    <div class="col">
        <h2>Update Sent Request Identity Variant</h2>
        <p>Use form below to update sent request identity variant.</p>
    </div>
    <hr>
</div>

<!-- Form  -->
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-lg m">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors form type='all' %}
                    {% bootstrap_form form layout='vertical' form_group_class='mb-3' %}
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Update Requested Variant</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}