{% extends 'web/private/base.html' %}
{% block content %}


<!-- Main content header -->
<div class="row align-items-center mb-2">
    <div class="col">
        <h2>Profile Identity Variant Details</h2>
        <p>Details for profile Identity Variant</p>
    </div>
    <hr>
</div>

<!-- Form  -->
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-lg m">
            <div class="card-body">
                <!-- Label -->
                <p class="text-muted mb-0 small">Label:</p>
                <h5 class="card-text ps-4">{{ profile_identity_variant.label }}</h5>

                <!-- Context -->
                <p class="text-muted mb-0 mt-3 small">Context:</p>
                <p class="card-text ps-4">{{ profile_identity_variant.context }}</p>

                <!-- Variant -->
                <p class="text-muted mb-0 small">Variant:</p>
                <h5 class="card-text ps-4">{{ profile_identity_variant.variant }}</h5>
            </div>
            <!-- Action links -->
            <div class="card-footer text-end">
                <a class="btn btn-warning me-4" href="{% url 'profile-identity-variant-update' profile_identity_variant.id %}">Edit Variant</a>
                <a class="btn btn-danger" href="{% url 'profile-identity-variant-delete' profile_identity_variant.id %}">Delete Variant</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}