{% extends "web/private/base.html" %}
{% block content %}
    <!-- Main content header -->
    <div class="row align-items-center mb-2">
        <div class="col">
            <h2>Sent Requests</h2>
            <p>Manage your sent requests here.</p>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary btn-lg" href="{% url 'request-send-create' %}">Create New Request</a>
        </div>
        <hr>
    </div>

    <!-- Main content body -->
    {% if send_requests %}
        <!-- set the grid  -->
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5  g-4">
            <!-- loop throught variants -->
            {% for request in send_requests %}
                <div class="col">
                    <!-- Card details  -->
                    <div class="card h-100 mb-3 shadow-lg">
                        <div class="card-body d-flex flex-column">
                            <!-- Request sender label  and status in one line  -->
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="text-muted mb-0 small">Request Receiver:</p>
                                </div>
                                <!-- Status -->
                                {% if request.status == "pending" %}
                                    <span class="badge bg-warning">Pending</span>
                                {% endif %}
                                {% if request.status == "accepted" %}
                                    <span class="badge bg-success">Accepted</span>
                                {% endif %}
                                {% if request.status == "denied" %}
                                    <span class="badge bg-danger">Denied</span>
                                {% endif %}
                            </div>
                            <h5 class="card-text ps-4 ">{{ request.receiver }}</h5>

                            <!-- Request Reasoning -->
                            <p class="text-muted mb-0 mt-3 small">Request Reasoning:</p>
                            <p class="card-text">{{ request.request_reasoning }}</p>

                            <!-- Spacer to push variant to bottom to even out across the cards -->
                            <div class="flex-grow-1"></div>

                            <!-- Created at -->
                            <p class="text-muted mb-0 small">Created at:</p>
                            <p class="card-text text-end">{{ request.created_at }}</p>
                        </div>
                        <!-- detail link footer  -->
                        <div class="card-footer text-end">
                            <a class="btn text-white" href="{% url 'request-send-detail' request.id %}">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>                     
    {% else %}
        <p>No sent requests at the moment... Make one now!</p>
    {% endif %}


{% endblock %}