/* Fonts */
@font-face {
    font-family: 'MozillaHeadline';
    src: url(../../fonts/MozillaHeadline-VariableFont_wdth\,wght.ttf) format('truetype'),

}

/* Page Layout  */
body {
    font-family: 'MozillaHeadline', Arial, sans-serif;
    color: #333;
    background-color: #966f6f;
    height: 100vh;
    /* make it to take all height to keep header and footer in a place  */
    display: flex;
    flex-direction: column;
}


/* Header  */
header {
    background-color: #238fee;
}

.btn {
    background-color: #437bb0;
    color: white;
}

.btn:hover {
    background-color: #114366;
}

/* Main content  */
main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    background-color: #a8cbee;
}

/* Footer  */

.footer-container {
    color: white;
}