<!-- THE CODE BELOW IS COPIED FROM venv/lib/allauth/templates/account/signup.html -->
<!-- I am overiding given template to customized and style it   -->

{% extends "account/account_manage.html" %}

{% block head_title %}

{% endblock head_title %}

{% block undermenu %}
{% load allauth i18n %}
<div class="row align-items-center mb-2">
    <div class="col">
        <h2>Change Password</h2>
        <p>Use the form to change your account password.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-lg m">
            <div class="card-body">
                {% element form form=form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        <div class="text-end">
                            <button class="btn btn-primary" type="submit">Change Password</button>
                        </div>
                    {% endslot %}
                {% endelement %}

            </div>
        </div>
    </div>
</div>



{% endblock %}