<!-- THE CODE BELOW IS COPIED FROM venv/lib/allauth/templates/account/login.html -->
<!-- I am overiding given template to customized and style it   -->

<!-- this is public view so extend public base  -->
{% extends "public/base.html" %}


{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="row align-items-center mb-2">
    <div class="col">
        <h2>Sign Up</h2>
        <p>Fill out the form to create account! Already have an account? <a href="{{ login_url }}">Sign In</a></p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-lg m">
            <div class="card-body">
                {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
            {% endslot %}
        {% endelement %}
    {% endif %}
    
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
               

            </div>
        </div>
    </div>
</div>

    
{% endblock content %}
